{% for flavor in new_prefix_list.finallist %}
{% for vrf in new_prefix_list.finallist[flavor]|sort %}

no ip prefix-list PL_{{ vrf }}_{{ flavor|upper }}_PREFIXES

{% if new_prefix_list.finallist[flavor][vrf].description %}
ip prefix-list PL_{{ vrf }}_{{ flavor|upper }}_PREFIXES description {{ new_prefix_list.finallist[flavor][vrf].description }}
{% endif %}
{% set seq = 5 %}
{% for prefix in new_prefix_list.finallist[flavor][vrf].prefix %}
{% if '/32' in prefix %}
ip prefix-list PL_{{ vrf }}_{{ flavor|upper }}_PREFIXES seq {{ seq }} permit {{ prefix }}
{% else %}
ip prefix-list PL_{{ vrf }}_{{ flavor|upper }}_PREFIXES seq {{ seq }} permit {{ prefix }} le 32
{% endif %} 
  {%- set seq = seq + 5 -%}
{% endfor %}
ip prefix-list PL_{{ vrf }}_{{ flavor|upper }}_PREFIXES seq 500000 deny 0.0.0.0/0 le 32 
{% endfor %}
{% endfor %}
